<%= form.fields_for :versions, @form.latest || @form.versions.new  do |version_form| %>
  <div class="w-full flex gap-4 mb-4">
    <%= form.text_field :name, class: "grow disabled:cursor-not-allowed", disabled: @form.persisted?, placeholder: "Enter form name...", required: true %>
    <div class="relative max-w-[8rem]">
      <%= version_form.number_field :name, min: 1, class: "pl-8 w-full", placeholder: "1", required: true %>
      <div class="absolute top-1/2 transform -translate-y-1/2 left-4">v</div>
    </div>
    <%= version_form.hidden_field :id %>
  </div>

  <%= dynamic_fields_for version_form, :sections, "Add Section" do |section_form| %>
    <div class="border border-[#0004] rounded-lg p-4 my-4">
      <%= section_form.text_field :name, class: "mb-4", placeholder: "Section Title" %>
      <%= dynamic_fields_for section_form, :questions, "Add Questions" do |question_form| %>
        <%= render "field_creation", form: question_form %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= form.submit :Save, class: "cursor-pointer p-4 bg-blue-600 text-white hover:bg-blue-700 transition rounded-lg my-4 w-full" %>
