<div class="w-full my-4">
  <h3 class="text-lg font-semibold mb-2"><%= "#{idx + 1}. #{q.text}" %></h3>
  <% if q.input_type_text_field? %>
    <%= f.text_field :text %>
  <% elsif q.input_type_number_field? %>
    <%= f.number_field :text, min: 0 %>
  <% elsif q.input_type_email_field? %>
    <%= f.email_field :text, placeholder: "yoda@starwars.net" %>
  <% elsif q.input_type_phone_field? %>
    <%= f.text_field :text, placeholder: "(888) 467-5305", data: { controller: "phone-number-formatter", action: "phone-number-formatter#format:prevent" } %>
  <% elsif q.input_type_text_area? %>
    <%= f.text_area :text %>
  <% elsif q.input_type_select? %>
    <%= f.select :text, q.options %>
  <% elsif q.input_type_radio_buttons? %>
    <div class="flex gap-2 items-center">
      <% q.options.each do |option| %>
        <div class="mr-4 last:ml-0">
          <%= f.label :text, option %>
          <%= f.radio_button :text, option %>
        </div>
      <% end %>
    </div>
  <% elsif q.input_type_checkboxes? %>
    <div class="flex gap-2 items-center">
      <% q.options.each do |option| %>
        <div class="mr-4 last:ml-0">
          <%= f.label :text, option %>
          <%= f.check_box :text, {}, option %>
        </div>
      <% end %>
    </div>
  <% elsif q.input_type_date? %>
    <%= f.date_field :text %>
  <% elsif q.input_type_time? %>
    <%= f.time_field :text %>
  <% end %>
</div>
