<div class="w-full my-4">
  <h3 class="text-lg font-semibold mb-2"><%= "#{idx + 1}. #{q.text}" %></h3>
  <% if q.input_type_radio_grid? %>
    <table class="w-full">
      <thead>
        <th></th>
        <% q.columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </thead>
      <tbody>
        <%= f.fields_for :questions, q do |ff| %>
          <%= ff.fields_for :children, q.children do |fff| %>
            <tr>
              <td class="py-2 pl-2 w-2 whitespace-nowrap font-semibold"><%= fff.object.text %></td>
              <% q.columns.each do |column| %>
                <td class="text-center">
                  <%= fff.radio_button :text, column %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render "display_form/#{q.input_type}", q:, children: q.children, f: %>
  <% end %>
</div>
